<div class="d-flex justify-content-center mt-3">
  <button mat-button [routerLink]="['/fruits']">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-card class="col-6" *ngIf="fruits$ | async as fruit">
    <mat-card-header class="align-self-center">
      <mat-card-title>
        <h3 mat-line>Fruit Id</h3>
        <p>{{fruit.id}}</p>
        <h3 mat-line>Fruit Name</h3>
        <p>{{fruit.name}}</p>
        <h3 mat-line>Fruit Family</h3>
        <p>{{fruit.family}}</p>
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
